.app-title{
    margin-left: 120px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    color: rgb(39, 35, 35);
    font-size: 28px;

    
}

body{
    background-color:rgb(77, 82, 95);
}

.contact-container{
    text-align: center;
}